@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
A{
    text-decoration: none;
}
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
ion-icon{
    font-size: 21px;
}
*{
    box-sizing: border-box;
}
.conteudo{
    display: flex;
    margin:0 auto;
    width: 935px;
    margin-top: 88px;
    
    
}
main{
    width: 614px;
    display: flex;
    flex-direction: column; 
}

/*----------------------------------------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB ;
    border-bottom: 1px solid #DBDBDB ;
    z-index: 3;
}
header > div{
    width: 935px;
    height: 54px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.mobile-header{
    display: none;
}

.logo img{
    width: 103px;
    height: 29px;
}

.barra-vertical{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 12px;
}
.marca{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 29px;
    width: 147px;
}
.barra-pesquisa input{
    display: flex;
    text-align: center;
    align-items: center;
    width: 215px;
    height: 28px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    color: #979797;
}

.menu{ 
   display: flex;

}
.menu ion-icon{
     margin-left: 25px;
}

/*----------------------------------------------------*/
.slidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 642px;
    height: 466px;
    width: 293px;
 
}
.usuario{
    display: flex;
    align-items: center;
    height: 56px;
    margin-top: 23px;
    margin-bottom: 24px;
}
.nick-usuario p{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.nome-usuario p{
    font-size: 14px;
    font-weight: 400;
    color: #8E8E8E;
}

.sugestoes{
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 272px;
}
.sugestoes-topo{
    display: flex;
    justify-content: space-between;
}
.sugestoes-topo p {
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E; 
}
.sugestoes-topo a{
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

.usuario-sugerido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 293px;
    margin-top: 17px;
}
.bloco-usuario-sugerido{
    display: flex;
    width: 240px;
    height: 32px;
    margin-right: 43px;
}
.nick-usuario-sugerido{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.status-usuario-sugerido{
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E; 
}
.link-seguir a{
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.foto-usuario img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-right: 17px;
}
.foto-usuario-sugerido img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 11px;
}

.letras-miudas{
    position: relative;
    width: 293px;
    height: 74px;
    margin-top: 20px;
    
}
.letras-miudas a{
    font-size: 11px;
    font-weight: 400;
    color: #8E8E8E;
}

.autoral{
    position:absolute;
    bottom: 0;
}

/*----------------------------------------------------*/
.imagem-storie {
    width: 64px;
    height: 64px;
    margin-top: 15px;
    background-image: url('../imagens/stories_background.jpg');
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-storie img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.stories {
    width: 100%;
    height: 118px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 25px;
    display: flex;
    overflow: hidden;

    padding: 0 8px;
    position: relative;
}
.storie {
    width: 64px;
    height: 100%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.botao-scroll {
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stories p{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
    color: #262626;
}
/*.caixa-stories{
    display: flex;
    position: relative;
  
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 24px;
    width: 614px;
    height: 118px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB ;
    border-radius: 3px;
}
.storie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66px;
    height: 66px;
    /*margin: 18px 0 34px 14px;
    background-image: url("../imagens/stories_background.jpg");
    background-size: cover;
    background-position: center;
}
.storie p{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
    color: #262626;
}
.seta{
    display: flex;
    position: absolute;
    right: 0;
    top: 48px;
}

.background img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}*/

/*----------------------------------------------------*/
.post{
    margin-bottom: 60px;
    width: 614px;
    height: 749px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB ;
    border-radius: 3px;
    position: relative;
}
.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 614px;
    height: 61px;
}
.nome-perfil-post{
    position: absolute;
    left: 64px;
    top: 23px;
}

.opcoes ion-icon{
    margin-right: 17px;
}

.foto-perfil-post img{
    width: 32px;
    height: 32px;
    margin: 0 15px 0 17px;
}
.nome-perfil-post p{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.foto-post img{
    margin: 0px 1px;
    width: 612px;
    height: 612px;
}
.video-post video{
    margin: 0px 1px;
    width: 612px;
    height: 612px;  
}

.menu-inferior{
    width: 614px;
    height: 76px;  
}
.icones{
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 12px;
    margin-left: 17px;

}
.icones ion-icon{
    margin-right: 8px;
}

.opcoes img{
    width: 17px;
    height: 17px; 
    margin-right: 17px;
}

.menu img{
    width: 18px;
    height: 18px; 
    margin-left: 17px;  
}
.reacoes{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 14px;
    left: 17px;
   
}
.reacoes img{
    height: 20px;
    width: 20px;
    margin-right: 5px;  
    border-radius: 100%;
}
.curtido-por p{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
.curtido-por strong{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.barra-inferior{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB ;
    border-bottom: 1px solid #DBDBDB ;
    z-index: 3;
    width: 614px;
    height: 54px;
    
}
.icones-barra-inferior{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

@media (max-width: 935px){
    header > div {
        width: 100%;
    }
    .slidebar{
        display: none;
    }
    .conteudo{
        width: 100vw;
        font-display: column;
        justify-content: center;
    }
    
}


@media (max-width: 614px){
    header .mobile-header{
        display: flex;
        width:100%;
    }
    header .desktop-header{
        display: none;
    }
    .icones{
        width: 95%;
    }
    .opcoes img{
        margin-right: 0px;
    }
    .barra-inferior{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .icones ion-icon{
        margin-right: 0px;
    }
    .conteudo{
        margin-top: 54px;
        width: 100%;
    }
    .seta{
        display: none;
    }
    .caixa-stories{
        width: 100%;
        background-color: #FAFAFA;
        border: 0;
        margin-bottom: 0;
    }
    .botao-scroll{
        display: none;
    }
    .post{
        width: 100%;
    }
    .coluna-posts{
        width: 100%;
    }
    .foto-post img{
        width: 100%;
        height: auto;
    }
    .stories {
        background: none;
        border: none;
        margin-bottom: 0;
    }
    .post{
        width: 100%;
        height: auto;
    }
    .menu-superior{
        width: 100%;
    }
    .menu-inferior{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .video-post video{
        width: 100%;
        height: auto;
    }
}